@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  width: 100%;
}

.logo h1 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}

span.logoo {
  color: #072ac8;
  font-size: 2.8rem;
}

.menu a {
  text-decoration: none;
  margin-right: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}

.menuu:hover {
  color: #9d0208;
  font-weight: 400;
}

.sign {
  width: 2.3rem;
  padding: 0.4rem 1.2rem;
  background-color: #d00000;
  border-radius: 5px;
}

.sign:hover {
  background-color: #9d0208;
}

.content {
  position: absolute;
  top: 33%;
  padding-left: 4rem;
}

.container {
  color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.atas {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: start;
  line-height: 4rem;
}

span.atas-middle {
  color: #072ac8;
  animation: nyala 2.5s ease-in-out infinite;
  text-shadow: 0.5px 0.5px #fff;
}

@keyframes nyala {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tengah {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.bottom {
  margin-top: 2.7rem;
}

.bottom input {
  width: 60%;
  padding: 0.8rem 1rem;
  background: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
}

.bottom a {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  background-color: #d00000;
  margin-left: 0.8rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.bottom a:hover {
  background-color: #9d0208;
}
